@import "typography";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $fontMain;
  margin: 0;
}

.contact_form {
  background: url("../images/form_bg_desktop.jpg") left/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 300;
    left: 50%;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: -100px;
    transition: all 1s ease;
    @media (max-width: 992px) {
      display: block;
      font-size: 28px;
      left: 0;
      text-align: center;
      top: -40px;
      width: 100%;
    }
  }
  .form_content {
    background: rgb(255, 255, 255);
    height: 500px;
    margin: auto auto;
    position: relative;
    max-width: 800px;
    @media (max-width: 800px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    &:before {
      background: $colorGreen;
      content: "";
      height: 2px;
      position: absolute;
      width: 80px;
      left: 50%;
      top: -2px;
      transition: 1s ease;
      transition-property: left, transform;
      transform: translate(-50%, 0);
      z-index: 5;
      @media (max-width: 992px) {
        left: 20px;
        transform: translate(0, 0);
      }
    }
  }
  .left_panel {
    height: 100%;
    background: url("../images/form_photo.jpg") bottom/cover;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .8)
    }
    @media (max-width: 992px) {
      display: none;
    }
    .lineXsmall,
    .lineSmall,
    .lineMedium,
    .lineLarge {
      height: 2px;
      position: absolute;
      z-index: 10;
    }
    .lineXsmall {
      background: $colorViolet;
      top: 330px;
      left: 100px;
      width: 20px;
    }
    .lineSmall {
      background: $colorGreen;
      top: 50px;
      left: 30px;
      width: 80px;
      box-shadow: 40px 60px 0 0 $colorGreen,
                  50px 140px 0 0 rgb(255, 255, 255),
                  70px 220px 0 0 $colorViolet,
                  70px 300px 0 0 rgb(255, 255, 255);
    }
    .lineMedium {
      background: rgb(255, 255, 255);
      top: 90px;
      left: 70px;
      width: 100px;
      box-shadow: 40px 120px 0 0 $colorViolet,
                  30px 200px 0 0 rgb(255, 255, 255),
                  50px 200px 0 0 rgb(255, 255, 255),
                  50px 280px 0 0 $colorGreen,
                  80px 280px 0 0 $colorGreen;
    }
    .lineLarge {
      background: $colorViolet;
      top: 70px;
      left: 30px;
      width: 160px;
      box-shadow: 0 60px 0 0 white,
                  80px 80px 0 0 $colorGreen,
                  80px 100px 0 0 $colorViolet,
                  0 160px 0 0 rgb(255, 255, 255),
                  80px 160px 0 0 rgb(255, 255, 255),
                  40px 180px 0 0 $colorGreen,
                  40px 240px 0 0 $colorGreen,
                  60px 240px 0 0 $colorGreen,
                  90px 320px 0 0 $colorViolet,
                  110px 320px 0 0 $colorViolet;
    }
  }
  .right_panel {
    padding: 50px 60px;
    position: relative;
    height: 100%;
    p.header {
      text-align: left;
      padding-left: 10px;
      padding-right: 30px;
      margin-bottom: 0;
    }
    @media (max-width: 992px) {
      padding: 15px;
    }
  }

  form {
    margin-top: 40px;
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }

  .label {
    font-size: 10px;
    color: $colorGrey;
    display: block;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 10px;
    text-align: left;
  }
  input,
  select {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid $colorGreyLight;
    font-weight: 600;
    outline: none;
    display: block;
    &:focus {
      border-color: $colorViolet;
      box-shadow: none;
    }
  }
}

.mobileNumber {
  select {
    width: 30%;
    display: inline-block;
    margin-right: 3%;
    @media (max-width: 992px) {
      width: 45%;
    }
  }
  input {
    width: 65%;
    display: inline-block;
    padding-bottom: 5px;
    @media (max-width: 992px) {
      width: 50%;
    }
  }
}

.radio {
  display: inline-block;
  margin-right: 25px;
  margin-top: 0;
  input[type=radio] {
    display: none;
    &:checked + label,
    &:checked + label:before {
      border-color: $colorGreen;
    }
    &:checked + label:after {
      background: $colorGreen;
    }
  }
  label {
    align-items: center;
    border: 2px solid $colorGreyLight;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 26px;
    height: 50px;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 50px;
    &:before {
      content: "";
      position: absolute;
      right: -8px;
      width: 15px;
      height: 15px;
      border: 2px solid $colorGreyLight;
      background: rgb(255, 255, 255);
    }
    &:after {
      background: rgb(255, 255, 255);
      content: "";
      height: 3px;
      position: absolute;
      right: -2px;
      width: 3px;
    }
  }
}

.dateOfBirth {
  input {
    border: 2px solid $colorGreyLight;
    display: inline-block;
    height: 45px;
    &:nth-of-type(1) {width: 15%};
    &:nth-of-type(2) {width: 33%};
    &:nth-of-type(3) {width: 33%};
    @media (max-width: 992px) {
      &:nth-of-type(1) {width: 20%};
      &:nth-of-type(2) {width: 20%};
      &:nth-of-type(3) {width: 40%};
    }
  }
  .inputSpacer {
    background: $colorGreyLight;
    display: inline-block;
    height: 2px;
    margin: 0 2%;
    position: relative;
    top: -3px;
    width: 3%;
  }
}

.btnContinueGroup {
  bottom: -23px;
  position: absolute;
  right: -45px;
  margin: 0;
  transition: 1s ease;
  transition-property: right, transform;
  @media (max-width: 992px) {
    right: 50%;
    transform: translate(50%, 0);
    width: 220px;
  }

  .input-group-addon {
    background: $colorViolet;
    border-radius: 0;
    border: none ;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 180px;
    position: relative;
    right: -1px;
    @media (max-width: 992px) {
      width: 250px;
    }
  }

  button.form-control {
    background: lighten($colorViolet, 5);
    border-radius: 0;
    border: 0;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    &:hover {
      background: $colorViolet;
    }
  }
}

.success {
  border-color: $colorViolet !important;
}

.warning {
  border-color: red !important;
}

// To hide unnecessary label
.hidden {
  position: absolute;
  visibility: hidden;
}

.sideNav {
  position: absolute;
  right: -54px;
  top: 20%;
  ul {
    padding-left: 0;

  }
  li {
    cursor: pointer;
    list-style-type: none;
    margin-top: 40px;
    &:before {
      background: darken($colorGrey, 30);
      content: "";
      height: 2px;
      position: absolute;
      width: 25px;
    }
    &.active {
      &:before {
        background: $colorGreen;
      }
      p {
        color: rgb(255, 255, 255);
      }
    }
    p {
      color: darken($colorGrey, 30);
      font-size: 10px;
      margin-bottom: 5px;
      padding-left: 13px;
      &:first-of-type {
        padding-top: 10px;
      }
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
}
