@import "typography";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $fontMain;
  margin: 0;
}

.contact_form {
  background: url("../images/form_bg_desktop.jpg") center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 300;
    left: 50%;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: -100px;

  }
  .form_content {
    background: rgb(255, 255, 255);
    height: 470px;
    margin: auto auto;
    position: relative;
    max-width: 800px;
    &:before {
      background: $colorGreen;
      content: "";
      height: 2px;
      position: absolute;
      width: 80px;
      left: 50%;
      top: -2px;
      transform: translate(-50%, 0);
      z-index: 5;
    }
  }
  .left_panel {
    height: 100%;
    background: url("../images/form_photo.jpg") bottom/cover;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .8)
    }
    @media (max-width: 992px) {
      display: none;
    }
    .lineXsmall,
    .lineSmall,
    .lineMedium,
    .lineLarge {
      height: 2px;
      position: absolute;
      z-index: 10;
    }
    .lineXsmall {
      background: $colorViolet;
      top: 330px;
      left: 100px;
      width: 20px;
    }
    .lineSmall {
      background: $colorGreen;
      top: 50px;
      left: 30px;
      width: 80px;
      box-shadow: 40px 60px 0 0 $colorGreen,
                  50px 140px 0 0 rgb(255, 255, 255),
                  70px 220px 0 0 $colorViolet,
                  70px 300px 0 0 rgb(255, 255, 255);
    }
    .lineMedium {
      background: rgb(255, 255, 255);
      top: 90px;
      left: 70px;
      width: 100px;
      box-shadow: 40px 120px 0 0 $colorViolet,
                  30px 200px 0 0 rgb(255, 255, 255),
                  50px 200px 0 0 rgb(255, 255, 255),
                  50px 280px 0 0 $colorGreen,
                  80px 280px 0 0 $colorGreen;
    }
    .lineLarge {
      background: $colorViolet;
      top: 70px;
      left: 30px;
      width: 160px;
      box-shadow: 0 60px 0 0 white,
                  80px 80px 0 0 $colorGreen,
                  80px 100px 0 0 $colorViolet,
                  0 160px 0 0 rgb(255, 255, 255),
                  80px 160px 0 0 rgb(255, 255, 255),
                  40px 180px 0 0 $colorGreen,
                  40px 240px 0 0 $colorGreen,
                  60px 240px 0 0 $colorGreen,
                  90px 320px 0 0 $colorViolet;
    }
  }
  .right_panel {
    padding: 50px 60px;
    position: relative;
    height: 100%;
  }

  form {
    margin-top: 50px;
  }

  label {
    font-size: 10px;
    color: $colorGrey;
    display: block;
  }
  input,
  select {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid $colorGreyLight;
    outline: none;
    display: block;
    &:focus {
      border-color: $colorViolet;
      box-shadow: none;
    }
  }
}

.mobileNumber {
  select {
    width: 30%;
    display: inline-block;
  }
  input {
    width: 68%;
    display: inline-block;
    padding-bottom: 5px;
  }
}

.dateOfBirth {
  input {
    border: 2px solid $colorGreyLight;
    display: inline-block;
    height: 45px;
    &:nth-of-type(1) {width: 15%};
    &:nth-of-type(2) {width: 35%};
    &:nth-of-type(3) {width: 34%};
  }
  .inputSpacer {
    background: $colorGreyLight;
    display: inline-block;
    height: 2px;
    margin: 0 5px;
    position: relative;
    top: -3px;
    width: 10px;
  }
}

.btnContinueGroup {
  bottom: -23px;
  position: absolute;
  right: -45px;
  margin: 0;

  .input-group-addon {
    background: $colorViolet;
    border-radius: 0;
    border: none ;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 180px;
  }

  button.form-control {
    background: lighten($colorViolet, 10);
    border-radius: 0;
    border: 0;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
  }
}

.success > input {
  border-color: $colorViolet;
}

.warning > input {
  border-color: red;
}
